*{
    box-sizing: border-box;
}
body{

    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}


.welcome-section {
    display: flex;
    margin-top: 55px;
    margin-left: 75px;
}


.welcome-img img {
    height: 747.23px;
    width: 658.26px;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-text {
    width: 600px;
}
.welcome-text h1 {
    color: #575757;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 130%;
    letter-spacing: -0.02em;
    margin: 0;
}
.welcome-text h1 span{
    color: #FBA24F;
}

.welcome-p {
    margin-top: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: -0.02em;
    color: #828282;

}

.welcome-btn {
    display: flex;
    margin-top: 49px;
    justify-content: center;
}
.welcome-btn a{
    padding: 24px 32px;
    background-image: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    border-radius: 110px;
    text-decoration: none;
    color: white;   
    transition: all 0.2s ease;
}
.welcome-btn a:hover {
    padding-left: 42px;
    padding-right: 42px;
}

.about-section {
    margin-top: 85px;
    display: flex;
    width: 1440px;
    height: 600px;
    justify-content: center;
    background: url(background2.png);
    background-repeat: no-repeat;
}

.about-img {
    width: 540px;
    justify-content: center;
}

.about-img img{
    width: 338px;
    height: 536px;
}

.about-text {
    width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text h2{
    color: #707070;
    font-size: 40px;
    font-weight: bold;
}

.about-p {
    color: #707070;
    font-weight: normal;
    letter-spacing: -0.02em;
    line-height: 165%;
}

.recipie {
    display: flex;
    justify-content: center;
}

.recipie-text {
    height: 159px;
    width: 706px;
    text-align: center;
}

.recipie-text h2 {
    color: #676767;
    font-size: 40px;
}

.recipie-p {
    color: #676767;
    line-height: 165%;
}

.item {
    height: 520px;
    width: 1239px;
    margin: 0 auto;
    display: flex;
    margin-top: 55px;
}

.inner-item img {
    height: 256px;
    width: 337px;
}